
/* Color palette */
:root{
  --br-darkblue: #192040;
  --br-darkblue-soft: #292E56;
  --br-darkblue-mute: #363C70;

  --br-orange: #F59300;

  --br-red: #DE572C;

  --br-text-light-1: #FFFFFF;

  --br-positive : #129282;
  --br-negative : #AF4B63;

  --br-evenement :#8B3046;
  --br-evenement-light : #AF4B63;

  --br-reunion : #005FA1;
  --br-reunion-light : #1983CD;

  --br-projet : #0D7064;
  --br-projet-light : #129282;

  --br-class : #BF7609;
  --br-class-light : #E99210;

  --br-unselect :rgba(255, 255, 255, 0.5);
}

:root {
  --color-background: var(--br-darkblue);
  --color-background-soft: var(--br-darkblue-soft);
  --color-background-mute: var(--br-darkblue-mute);

  --color-deconnexion: var(--br-red);

  --color-text: var(--br-text-light-1);
}


body {
  color: var(--color-text);
  background: var(--color-background);
  transition: background-color 0.5s;

  font-family: Montserrat, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-rendering: optimizeLegibility;

  height: 100%;
}

.wrapper {
  display: grid; 

  grid-template-rows: repeat(10, auto) ;
  grid-template-columns:  min-content repeat(6, auto);

  margin : 30px;
  gap: 30px;
}

#header-container {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 8;
}

#navbar-container {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 11;
  grid-column-end: 2;
}

button, a {
  cursor: pointer;
}

.orange {
  color: var(--br-orange);
}

a:link {
  color : var(--br-orange);
}

a:visited {
  color : var(--br-orange);
}

a:hover {
  color : var(--br-text-light-1);
}

.wrapper-btn {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 8;

  display: grid;
  align-self: center;
  grid-template-columns: max-content auto max-content max-content;
  gap: 30px;
}

.btn-group{
  background-color: var(--color-background-soft);
  border-radius: 20px;
  width: max-content;
  height: min-content;
}

.btn-campus {
  margin: 5px;
}

.btn-campus:hover {
  background-color: var(--color-background-mute);
}

.btn-campus.active {
  background-color: var(--color-background-mute);
}

.btn-orange {
  background-color: var(--br-orange);
  border-radius: 20px;
  border-style: none;
  padding: 10px 20px;

  color: var(--br-text-light-1);
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: 18px;

  margin-top: 30px;
  }

@media (max-width:1150px) {

  .wrapper-btn {
    display: grid;
    justify-items: center;
    justify-items: stretch;
    gap: 10px;

    grid-template-columns: min-content auto;
    grid-template-rows: auto min-content;

  }

  .btn-campus {
    font-weight: 500;
    font-size: 12px;

    padding: 10px;
  }
}

@media (max-width:810px) {
  .wrapper {
  grid-template-rows: repeat(5, auto) ;
  grid-template-columns:  auto;

  gap: 10px;
  margin : 5px;
  }

  #header-container {
    grid-row-start: 1;
    grid-column-start: 1;
  
    grid-row-end: 2;
    grid-column-end:6;
  }

  #navbar-container {
    grid-row-start: 2;
    grid-column-start: 1;
  
    grid-row-end: 3;
    grid-column-end:6;
  }

  .wrapper-btn {
    grid-row-start: 3;
    grid-column-start: 1;
  
    grid-row-end: 4;
    grid-column-end: 6;
  }
}